body
 {
  background-image: url('https://img.freepik.com/free-vector/background-gradient-design-wave-green-modern-abstract_343694-3963.jpg?semt=ais_hybrid&w=740&q=80'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}